/****** Custom Styles ******/

/*Typography*/

/*font-family: 'Fjalla One', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

body {
	font-family: 'Open Sans', sans-serif;
	color: gray;
}

h1, h2, h3 {
	font-family: 'Fjalla One', sans-serif;	
}

/*Profile*/
#profile {
	text-align: center;
}

#profile img {
	margin: 0 auto;
	padding: 1rem;
}

.social-icons li {
	padding: 0 1rem;
	font-size: 3rem;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
	.container {
		padding: 5% 0;
	}

	#profile {
		margin-top: 3%;
	}

	.social-icons li {
    display: inline-block;
	}

	.area-icons li {
    display: inline;
	}

	.one-half column {
		padding: 0 5rem;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}



