//---------------------------
// Colors
//---------------------------

$color__base: #222222;
$color__base--hover: #7e7e7e;
$color__accent: #fc0fc0;

$grey-bg: #fafafa;
$border-color: #ecf0f1;
$border-color--darker: #dadfe1;

$twitter-brand: #55acee;
$facebook-brand: #3b5998;
$google-brand: #dc4e41;
